<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/users"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <ion-list lines="none">
        <ion-item>
          <ion-label *ngIf="userCtrl.touched && !userCtrl.valid" color="danger" position="floating">Name is required.</ion-label>
          <ion-input name="fname" required type="text" placeholder="First Name" [(ngModel)]="fname" #userCtrl="ngModel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label *ngIf="userSurname.touched && !userSurname.valid" color="danger" position="floating">Name is required.</ion-label>
          <ion-input name="sname" required type="text" placeholder="Surname" [(ngModel)]="sname" #userSurname="ngModel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label *ngIf="studentIds.touched && !studentIds.valid" color="danger" position="floating">ID is required.</ion-label>
          <ion-input name="studentId" required type="text" placeholder="Student ID" [(ngModel)]="studentId" #studentIds="ngModel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label *ngIf="birthdate.touched && !birthdate.valid" color="danger" position="floating">Birthday is required.</ion-label>
          <ion-input placeholder="Birthday" type="date" name="birthdate" [(ngModel)]="birthday" #birthdate="ngModel" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Role</ion-label>
          <ion-select interface="alert" [value]="userRole" [(ngModel)]="selectRole" [ngModelOptions]="{standalone: true}">
            <ion-select-option value="Admin">Admin</ion-select-option>
            <ion-select-option value="Moderator">Moderator</ion-select-option>
            <ion-select-option value="Student Officer">Student Officer</ion-select-option>
            <ion-select-option value="Student">Student</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button class="ion-margin" type="submit" expand="block" shape="round" [disabled]="!f.valid">Edit User</ion-button>
      </ion-list>
    </form>
  </ion-card>
</ion-content>
