<ion-header>
  <ion-toolbar>
    <ion-title>Flags</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment value="comment" color="secondary" [(ngModel)]="segmentModel">
    <ion-segment-button value="comment" layout="icon-start">
      <ion-icon name="chatbox"></ion-icon>
      <ion-label>Comments</ion-label>
    </ion-segment-button>
    <ion-segment-button value="chat" layout="icon-start">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-segment-button>
  </ion-segment>
    <!-- Comment Section -->
    <div *ngIf="segmentModel === 'comment'">
      <div class="ion-text-center ion-padding" *ngIf="(flags | async)?.length <= 0">
        <ion-icon name="shapes" class="label-icon"></ion-icon>
        <p><strong>No Report is added.</strong></p>
      </div>
      <div *ngIf="(flags | async)?.length > 0">
        <div *ngFor="let f of flags | async">
          <ion-card>
            <ion-item class="name-content" lines="none">
              <ion-avatar slot="start">
                <img [src]="f.userPhoto" alt="" />
              </ion-avatar>
              <ion-label>
                <h2 class="userpost-name">{{ f.userName }} {{ f.userSurname }}</h2>
                <p>{{ f.createdAt | date }}</p>
                <p>
                  <strong>
                    From {{ f.orgName }}
                  </strong>
                </p>
              </ion-label>
            </ion-item>
            <ion-card-content>
              <p class="content-font">{{ f.commentContent }}</p>
            </ion-card-content>
            <ion-card-content>
              <p>
                <strong>
                  <ion-icon name="warning" slot="start" color="warning"></ion-icon>
                  Report Details: {{ f.report }}
                </strong>
              </p>
              <p>
                <strong>
                  <ion-icon name="person" slot="start" color="tertiary"></ion-icon>
                  Reported by: {{ f.reportedBy }}
                </strong>
              </p>
              <ion-chip outline color="tertiary" (click)="acceptComment(f.commentId)">
                <ion-icon name="close-circle"></ion-icon>
                <ion-label>Reject Report</ion-label>
              </ion-chip>
              <ion-chip outline color="danger" (click)="deleteComment(f.commentId)">
                <ion-icon name="trash"></ion-icon>
                <ion-label>Delete Comment</ion-label>
              </ion-chip>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
</ion-content>
