<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openChat()">
        <ion-icon name="chatbubbles" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="notifications" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ orgName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loadOrganization">
  <ion-card class="action-card ion-no-margin ion-no-padding">
    <img class="header-img" [src]="loadOrganization?.imageUrl" />
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col
        size-lg="3"
        size-md="4"
        size-sm="6"
        size="12"
        offsetLg="2"
        offsetMd="2"
        class="about"
      >
        <ion-card>
          <ion-card-header>
            <ion-chip>
              <ion-icon [name]="orgType === 'Academic' ? 'book' : 'color-palette'" color="secondary"></ion-icon>
              <ion-label>{{ orgType }} Org</ion-label>
            </ion-chip>
            <ion-card-title class="org-title">{{ orgName }}</ion-card-title>
          </ion-card-header>
          <ion-card-content [ngClass]="{'limitTextHeight': isReadMore}"> {{ orgDesc }} </ion-card-content>
          <ion-button color="tertiary" expand="full" size="small" fill="clear" (click)="showText()">
            <ion-icon [name]="isReadMore ? 'chevron-down-circle' : 'chevron-up-circle'" slot="start"></ion-icon>
            {{ isReadMore ? 'Read More' : 'Read Less'}}
          </ion-button>
          <ion-item button>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-text>Members</ion-text>
            <ion-badge slot="end">00</ion-badge>
          </ion-item>

          <ion-item detail button (click)="editOrgForm(null)" *ngIf="auth.canDelete(user)">
            <ion-icon name="create" slot="start"></ion-icon>
            <ion-text>Edit Org</ion-text>
          </ion-item>

          <ion-item detail button (click)="deleteOrg()" *ngIf="auth.canDelete(user)">
            <ion-icon name="trash-bin" slot="start"></ion-icon>
            <ion-text>Delete Org</ion-text>
          </ion-item>

          <ion-item detail button (click)="openFileSystem()">
            <ion-icon name="folder-open" slot="start"></ion-icon>
            <ion-text>File System</ion-text>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col size-lg="5" size-md="4" size-sm="6" size="12">
        <ion-segment
          value="post"
          color="secondary"
          [(ngModel)]="segmentModel"
          (ionChange)="onSegmentChange()"
        >
          <ion-segment-button value="post">
            <ion-label>Posts</ion-label>
          </ion-segment-button>
          <ion-segment-button value="event">
            <ion-label>Events</ion-label>
          </ion-segment-button>
          <ion-segment-button value="poll">
            <ion-label>Polls</ion-label>
          </ion-segment-button>
        </ion-segment>

        <div *ngIf="segmentModel === 'event' ? auth.canAccess(user): auth.canRead(user)">
        <ion-card class="post-card" *ngIf="segmentModel">
          <form>
            <ion-row>
              <ion-col>
                <ion-item class="shape-field">
                  <ion-avatar slot="start">
                    <img [src]="userPhoto" *ngIf="userPhoto" alt="name" />
                  </ion-avatar>
                  <ion-input
                    class="placeholder-title"
                    (click)="segmentModel === 'post' ? addPost(null) : segmentModel === 'event' ? addEvent(null) : false"
                    [placeholder]="'Add ' + segmentModel +  ' content...'"
                  >
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </form>
        </ion-card>
        </div>

        <!-- Post Section -->
      <div *ngIf="segmentModel === 'post'">

        <ion-item lines="full" color="none" *ngIf="!isLoading && (publicPosts | async)?.length > 0">
          <ion-icon name="megaphone"></ion-icon>
          <ion-title>Announcement</ion-title>
        </ion-item>

        <div *ngIf="!isLoading && (publicPosts | async)?.length > 0">
          <div *ngFor="let p of publicPosts | async">
            <ion-card [id]="p.postId">
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <img [src]="p.postedByPhoto" alt="" />
                </ion-avatar>
                <ion-label>
                  <h2 class="userpost-name">{{ p.postedBy }} {{ p.postedBySurname }}</h2>
                  <p>{{ p.createdAt | date }}</p>
                  <p *ngIf="p.editedBy">
                    <ion-icon name="create" slot="start"></ion-icon>
                    <span>{{ p.editedBy }}</span>
                  </p>
                </ion-label>
                <ion-button color="secondary" fill="clear" slot="end" (click)="editPost($event, p.postId)" *ngIf="(p.postedById === cUser) || auth.canEdit(user)">
                  <ion-icon name="ellipsis-vertical" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-item>
              <img [src]="p.postImageUrl" />
              <ion-card-header>
                <ion-card-title class="postTitle">{{ p.postTitle }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p class="content-font">{{ p.postContent }}</p>
              </ion-card-content>
              <ion-footer>
                <ion-row class="reaction-sys">
                  <ion-col size="6">
                    <ion-button color="secondary" fill="clear" (click)="toggleHeart(p.postId)">
                      <ion-icon
                        class="reaction-icon"
                        [name]="heartType"
                        slot="start"
                      ></ion-icon>
                      <ion-text class="reaction-num">0</ion-text>
                    </ion-button>
                  </ion-col>
                  <ion-col size="6">
                    <ion-button color="secondary" fill="clear" (click)="openCommentSection(p.postId)">
                      <ion-icon
                        class="reaction-icon"
                        name="chatbox"
                        slot="icon-only"
                      ></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-footer>
            </ion-card>
          </div>
        </div>

        <ion-item lines="full" color="none" *ngIf="!isLoading && posts?.length > 0">
          <ion-icon name="copy"></ion-icon>
          <ion-title>Organization Post</ion-title>
        </ion-item>

        <div class="ion-text-center ion-padding" *ngIf="(!isLoading && posts?.length <= 0) && (publicPosts | async)?.length <= 0">
          <ion-icon name="copy" class="label-icon"></ion-icon>
          <p><strong>No Post is added.</strong></p>
        </div>

        <div *ngIf="!isLoading && posts?.length > 0">
          <div *ngFor="let p of posts">
            <ion-card [id]="p.postId">
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <img [src]="p.postedByPhoto" alt="" />
                </ion-avatar>
                <ion-label>
                  <h2 class="userpost-name">{{ p.postedBy }} {{ p.postedBySurname }}</h2>
                  <p>{{ p.createdAt | date }}</p>
                  <p *ngIf="p.editedBy">
                    <ion-icon name="create" slot="start"></ion-icon>
                    <span>{{ p.editedBy }}</span>
                  </p>
                </ion-label>
                <ion-button color="secondary" fill="clear" slot="end" (click)="editPost($event, p.postId)" *ngIf="(p.postedById === cUser) || auth.canEdit(user)">
                  <ion-icon name="ellipsis-vertical" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-item>
              <img [src]="p.postImageUrl" />
              <ion-card-header>
                <ion-card-title class="postTitle">{{ p.postTitle }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p class="content-font">{{ p.postContent }}</p>
              </ion-card-content>
              <ion-footer>
                <ion-row class="reaction-sys">
                  <ion-col size="6">
                    <ion-button color="secondary" fill="clear" (click)="toggleHeart(p.postId)">
                      <ion-icon
                        class="reaction-icon"
                        [name]="heartType"
                        slot="start"
                      ></ion-icon>
                      <ion-text class="reaction-num">0</ion-text>
                    </ion-button>
                  </ion-col>
                  <ion-col size="6">
                    <ion-button color="secondary" fill="clear" (click)="openCommentSection(p.postId)">
                      <ion-icon
                        class="reaction-icon"
                        name="chatbox"
                        slot="icon-only"
                      ></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-footer>
            </ion-card>
          </div>
        </div>

      </div>


        <!-- Event Section -->
      <div *ngIf="segmentModel === 'event'">
        <ion-button expand="full" (click)="openPendingEvents()" *ngIf="auth.canEdit(user)">
          <ion-icon name="calendar" slot="start"></ion-icon>
          View Pending Events
        </ion-button>
        <div class="ion-text-center ion-padding" *ngIf="!isLoading && eventsList?.length <= 0">
          <ion-icon name="calendar" class="label-icon"></ion-icon>
          <p><strong>No Event is added.</strong></p>
        </div>
        <div *ngIf="!isLoading && eventsList?.length > 0">
          <div *ngFor="let eventz of eventsList">
            <ion-card>
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <img [src]="eventz.eventPostedByPhoto" alt="" />
                </ion-avatar>
                <ion-label>
                  <h2 class="userpost-name">{{ eventz.eventPostedBy }} {{ eventz.eventPostedBySurname }}</h2>
                  <p>{{ eventz.createdAt | date }}</p>
                </ion-label>
                <ion-button color="secondary" fill="clear" slot="end" (click)="editPost($event, eventz.eventId)" *ngIf="eventz.eventPostedById === cUser">
                  <ion-icon name="ellipsis-vertical" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-item>
              <img [src]="eventz.eventImageUrl" />
              <ion-card-header>
                <ion-card-title class="ion-padding-bottom"
                  >{{ eventz.eventTitle }}</ion-card-title
                >
                <ion-chip>
                  <ion-icon color="secondary" name="calendar-number"></ion-icon>
                  <ion-label>Start: {{ eventz.eventStartDate | date }}</ion-label>
                </ion-chip>
                <ion-chip>
                  <ion-icon color="secondary" name="calendar-number"></ion-icon>
                  <ion-label>End: {{ eventz.eventEndDate | date }}</ion-label>
                </ion-chip>
                <ion-chip>
                  <ion-icon color="secondary" name="time"></ion-icon>
                  <ion-label>{{ eventz.eventTime | date:'shortTime' }}</ion-label>
                </ion-chip>
              </ion-card-header>
              <ion-card-content>
                <p class="content-font">
                  {{ eventz.eventContent }}
                </p>
              </ion-card-content>
              <ion-row class="reaction-sys">
                <ion-col size="12">
                  <ion-button color="secondary" fill="clear">
                    <ion-icon
                      class="reaction-icon"
                      name="heart-outline"
                      slot="start"
                    ></ion-icon>
                    <ion-text class="reaction-num">0</ion-text>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-card>
          </div>
        </div>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
