<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openChat()">
        <ion-icon name="chatbubbles" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="openNotifs()">
        <ion-icon name="notifications" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ orgName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loadOrganization">
  <ion-card class="action-card ion-no-margin ion-no-padding">
    <img class="header-img" [src]="loadOrganization?.imageUrl" />
    <ion-button class="cover-photo-btn" (click)="editOrgPhoto(null)" *ngIf="auth.canAccessByMod(user) || auth.canAccessByOfficer(user)">
      <ion-icon name="camera" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col
        size-lg="3"
        size-md="4"
        size-sm="6"
        size="12"
        offsetLg="2"
        offsetMd="2"
        class="about"
      >
        <ion-card>
          <ion-card-header>
            <ion-chip>
              <ion-icon [name]="orgType === 'Academic' ? 'book' : 'color-palette'" color="secondary"></ion-icon>
              <ion-label>{{ orgType }} Org</ion-label>
            </ion-chip>
            <ion-card-title class="org-title">{{ orgName }}</ion-card-title>
          </ion-card-header>
          <ion-card-content [ngClass]="{'limitTextHeight': isReadMore}"> {{ orgDesc }} </ion-card-content>
          <ion-button color="tertiary" expand="full" size="small" fill="clear" (click)="showText()">
            <ion-icon [name]="isReadMore ? 'chevron-down-circle' : 'chevron-up-circle'" slot="start"></ion-icon>
            {{ isReadMore ? 'Read More' : 'Read Less'}}
          </ion-button>
          <ion-item detail button (click)="openMembersList()">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-text>Members</ion-text>
            <ion-badge slot="end">{{ loadOrganization.userList?.length }}</ion-badge>
          </ion-item>

          <ion-item detail button (click)="editOrgForm(null)" *ngIf="auth.canDelete(user)">
            <ion-icon name="create" slot="start"></ion-icon>
            <ion-text>Edit Org</ion-text>
          </ion-item>

          <ion-item detail button (click)="deleteOrg()" *ngIf="auth.canDelete(user)">
            <ion-icon name="trash-bin" slot="start"></ion-icon>
            <ion-text>Delete Org</ion-text>
          </ion-item>

          <ion-item detail button (click)="openFileSystem()">
            <ion-icon name="folder-open" slot="start"></ion-icon>
            <ion-text>File System</ion-text>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col size-lg="5" size-md="4" size-sm="6" size="12">
        <ion-segment
          value="post"
          color="tertiary"
          [(ngModel)]="segmentModel"
          (ionChange)="onSegmentChange()"
        >
          <ion-segment-button value="post">
            <ion-label>Posts</ion-label>
          </ion-segment-button>
          <ion-segment-button value="event">
            <ion-label>Events</ion-label>
          </ion-segment-button>
          <ion-segment-button value="poll">
            <ion-label>Polls</ion-label>
          </ion-segment-button>
        </ion-segment>

        <div *ngIf="segmentModel === 'event' || segmentModel === 'poll' ? auth.canAccess(user): auth.canRead(user)">
        <ion-card class="post-card" *ngIf="segmentModel">
          <form>
            <ion-row>
              <ion-col>
                <ion-item class="shape-field">
                  <ion-avatar slot="start">
                    <img [src]="userPhoto" *ngIf="userPhoto" alt="name" />
                  </ion-avatar>
                  <ion-input
                    class="placeholder-title"
                    (click)="segmentModel === 'post' ? addPost(null) : segmentModel === 'event' ? addEvent(null) : segmentModel === 'poll' ? addPoll(null) : false"
                    [placeholder]="'Add ' + segmentModel +  ' content...'"
                  >
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </form>
        </ion-card>
        </div>

        <!-- Post Section -->
      <div *ngIf="segmentModel === 'post'">

        <!-- Public Post -->
        <ion-item lines="full" color="none" *ngIf="!isLoading && (publicPosts | async)?.length > 0">
          <ion-icon name="megaphone"></ion-icon>
          <ion-title>Announcement</ion-title>
        </ion-item>

        <div *ngIf="!isLoading && (publicPosts | async)?.length > 0">
          <div *ngFor="let p of publicPosts | async">
            <ion-card [id]="p.postId">
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <img [src]="p.postedByPhoto" alt="" />
                </ion-avatar>
                <ion-label>
                  <h2 class="userpost-name">{{ p.postedBy }} {{ p.postedBySurname }}</h2>
                  <p>{{ p.createdAt | date }}</p>
                  <p *ngIf="p.editedBy">
                    <ion-icon name="create" slot="start"></ion-icon>
                    <span>{{ p.editedBy }}</span>
                  </p>
                </ion-label>
                <ion-button color="secondary" fill="clear" slot="end" (click)="editPost($event, p.postId)" *ngIf="(p.postedById === cUser) || auth.canEdit(user)">
                  <ion-icon name="ellipsis-vertical" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-item>
              <img [src]="p.postImageUrl" />
              <ion-card-header>
                <ion-card-title class="postTitle">{{ p.postTitle }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p class="content-font">{{ p.postContent }}</p>
              </ion-card-content>
              <ion-footer>
                <ion-row class="reaction-sys">
                  <ion-col size="6">
                    <ion-button color="secondary" fill="clear" (click)="p.postLikes?.includes(cUser) === true ? unLike(p.postId, cUser, 'post') : like(p.postId, cUser, 'post')">
                      <ion-icon
                        class="reaction-icon"
                        [name]="p.postLikes?.includes(cUser) ? 'thumbs-up-sharp' : 'thumbs-up-outline'"
                        slot="start"
                      ></ion-icon>
                      <ion-text class="reaction-num">{{ p.postLikes?.length }}</ion-text>
                    </ion-button>
                  </ion-col>
                  <ion-col size="6">
                    <ion-button color="secondary" fill="clear" (click)="openCommentSection(p.postId)">
                      <ion-icon
                        class="reaction-icon"
                        name="chatbox"
                        slot="icon-only"
                      ></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-footer>
            </ion-card>
          </div>
        </div>

        <!-- Organization Post -->
        <ion-item lines="full" color="none" *ngIf="!isLoading && posts?.length > 0">
          <ion-icon name="copy"></ion-icon>
          <ion-title>Organization Post</ion-title>
        </ion-item>

        <div class="ion-text-center ion-padding" *ngIf="(!isLoading && posts?.length <= 0) && (publicPosts | async)?.length <= 0">
          <ion-icon name="copy" class="label-icon"></ion-icon>
          <p><strong>No Post is added.</strong></p>
        </div>

        <div *ngIf="!isLoading && posts?.length > 0">
          <div *ngFor="let p of posts">
            <ion-card [id]="p.postId">
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <img [src]="p.postedByPhoto" alt="" />
                </ion-avatar>
                <ion-label>
                  <h2 class="userpost-name">{{ p.postedBy }} {{ p.postedBySurname }}</h2>
                  <p>{{ p.createdAt | date }}</p>
                  <p *ngIf="p.editedBy">
                    <ion-icon name="create" slot="start"></ion-icon>
                    <span>{{ p.editedBy }}</span>
                  </p>
                </ion-label>
                <ion-button color="secondary" fill="clear" slot="end" (click)="editPost($event, p.postId)" *ngIf="(p.postedById === cUser) || auth.canEdit(user)">
                  <ion-icon name="ellipsis-vertical" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-item>
              <img [src]="p.postImageUrl" />
              <ion-card-header>
                <ion-card-title class="postTitle">{{ p.postTitle }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p class="content-font">{{ p.postContent }}</p>
              </ion-card-content>
              <ion-footer>
                <ion-row class="reaction-sys">
                  <ion-col size="6">
                    <ion-button color="secondary"  fill="clear"
                    (click)="p.postLikes?.includes(cUser) === true ? unLike(p.postId, cUser, 'post') : like(p.postId, cUser, 'post')">
                      <ion-icon
                        class="reaction-icon"
                        [name]="p.postLikes?.includes(cUser) ? 'thumbs-up-sharp' : 'thumbs-up-outline'"
                        slot="start"
                      ></ion-icon>
                      <ion-text class="reaction-num">{{ p.postLikes?.length }}</ion-text>
                    </ion-button>
                  </ion-col>
                  <ion-col size="6">
                    <ion-button color="secondary" fill="clear" (click)="openCommentSection(p.postId)">
                      <ion-icon
                        class="reaction-icon"
                        name="chatbox"
                        slot="icon-only"
                      ></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-footer>
            </ion-card>
          </div>
        </div>

      </div>


        <!-- Event Section -->
      <div *ngIf="segmentModel === 'event'">
        <ion-button expand="full" (click)="openPendingEvents()" *ngIf="auth.canEdit(user)">
          <ion-icon name="calendar" slot="start"></ion-icon>
          View Pending Events
        </ion-button>
        <div class="ion-text-center ion-padding" *ngIf="!isLoading && eventsList?.length <= 0">
          <ion-icon name="calendar" class="label-icon"></ion-icon>
          <p><strong>No Event is added.</strong></p>
        </div>
        <div *ngIf="!isLoading && eventsList?.length > 0">
          <div *ngFor="let eventz of eventsList">
            <ion-card>
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <img [src]="eventz.eventPostedByPhoto" alt="" />
                </ion-avatar>
                <ion-label>
                  <h2 class="userpost-name">{{ eventz.eventPostedBy }} {{ eventz.eventPostedBySurname }}</h2>
                  <p>{{ eventz.createdAt | date }}</p>
                </ion-label>
                <ion-button color="secondary" fill="clear" slot="end" (click)="editPost($event, eventz.eventId)" *ngIf="eventz.eventPostedById === cUser">
                  <ion-icon name="ellipsis-vertical" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-item>
              <img [src]="eventz.eventImageUrl" />
              <ion-card-header>
                <ion-card-title class="ion-padding-bottom"
                  >{{ eventz.eventTitle }}</ion-card-title
                >
                <ion-chip>
                  <ion-icon color="secondary" name="calendar-number"></ion-icon>
                  <ion-label>Start: {{ eventz.eventStartDate | date }}</ion-label>
                </ion-chip>
                <ion-chip>
                  <ion-icon color="secondary" name="calendar-number"></ion-icon>
                  <ion-label>End: {{ eventz.eventEndDate | date }}</ion-label>
                </ion-chip>
                <ion-chip>
                  <ion-icon color="secondary" name="time"></ion-icon>
                  <ion-label>{{ eventz.eventTime | date:'shortTime' }}</ion-label>
                </ion-chip>
              </ion-card-header>
              <ion-card-content>
                <p class="content-font">
                  {{ eventz.eventContent }}
                </p>
              </ion-card-content>
              <ion-row class="reaction-sys">
                <ion-col size="12">
                  <ion-button color="secondary" fill="clear" (click)="eventz.postLikes?.includes(cUser) === true ? unLike(eventz.eventId, cUser, 'eventz') : like(eventz.eventId, cUser, 'eventz')">
                    <ion-icon
                      class="reaction-icon"
                      [name]="eventz.postLikes?.includes(cUser) ? 'thumbs-up-sharp' : 'thumbs-up-outline'"
                      slot="start"
                    ></ion-icon>
                    <ion-text class="reaction-num">{{ eventz.postLikes?.length }}</ion-text>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-card>
          </div>
        </div>
      </div>


      <!-- Poll Section -->
      <div *ngIf="segmentModel === 'poll'">
        <ion-button expand="full" (click)="openPendingEvents()" *ngIf="auth.canEdit(user)">
          <ion-icon name="stats-chart" slot="start"></ion-icon>
          View Pending Polls
        </ion-button>
        <div class="ion-text-center ion-padding" *ngIf="!isLoading && pollList?.length <= 0">
          <ion-icon name="stats-chart" class="label-icon"></ion-icon>
          <p><strong>No Poll is added.</strong></p>
        </div>
        <div *ngIf="!isLoading && pollList?.length > 0">
          <div *ngFor="let poll of pollList">
            <ion-card>
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <img [src]="poll.postedByPhoto" alt="" />
                </ion-avatar>
                <ion-label>
                  <h2 class="userpost-name">{{ poll.postedBy }} {{ poll.postedBySurname }}</h2>
                  <p>{{ poll.createdAt | date }}</p>
                </ion-label>
                <ion-button color="secondary" fill="clear" slot="end" (click)="editPost($event, poll.pollId)" *ngIf="poll.postedById === cUser">
                  <ion-icon name="ellipsis-vertical" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-card-header>
                <ion-card-title>{{ poll.pollTitle }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p class="content-font">
                  {{ poll.pollContent }}
                </p>
                <ion-list class="pollOpt">
                  <ion-list-header>
                    <ion-label>
                      {{ poll.pollOptionA }}
                      <ion-badge class="counter">{{ poll.votesA?.length }} vote/s</ion-badge>
                    </ion-label>
                    <ion-button (click)="poll.votesA?.includes(cUser) ? unVote(poll.pollId, cUser, 'votesA'): vote(poll.pollId, cUser, 'votesA', 'votesB', 'votesC', 'votesD')">
                      <ion-icon color="secondary" [name]="poll.votesA?.includes(cUser) ? 'checkmark-circle' : 'checkmark-circle-outline'" slot="icon-only"></ion-icon>
                    </ion-button>
                  </ion-list-header>
                  <ion-progress-bar color="primary" [value]="poll.votesA?.length / 100"></ion-progress-bar>
                </ion-list>

                <ion-list class="pollOpt">
                  <ion-list-header>
                    <ion-label>
                      {{ poll.pollOptionB }}
                      <ion-badge class="counter">{{ poll.votesB?.length }} vote/s</ion-badge>
                    </ion-label>
                    <ion-button (click)="poll.votesB?.includes(cUser) ? unVote(poll.pollId, cUser, 'votesB') : vote(poll.pollId, cUser, 'votesB', 'votesA', 'votesC', 'votesD')">
                      <ion-icon color="secondary" [name]="poll.votesB?.includes(cUser) ? 'checkmark-circle' : 'checkmark-circle-outline'" slot="icon-only"></ion-icon>
                    </ion-button>
                  </ion-list-header>
                  <ion-progress-bar color="primary" [value]="poll.votesB?.length / 100"></ion-progress-bar>
                </ion-list>

                <ion-list class="pollOpt" *ngIf="poll.pollOptionC">
                  <ion-list-header>
                    <ion-label>
                      {{ poll.pollOptionC }}
                      <ion-badge class="counter">{{ poll.votesC?.length }} vote/s</ion-badge>
                    </ion-label>
                    <ion-button (click)="poll.votesC?.includes(cUser) ? unVote(poll.pollId, cUser, 'votesC') : vote(poll.pollId, cUser, 'votesC', 'votesA', 'votesB', 'votesD')">
                      <ion-icon color="secondary" [name]="poll.votesC?.includes(cUser) ? 'checkmark-circle' : 'checkmark-circle-outline'" slot="icon-only"></ion-icon>
                    </ion-button>
                  </ion-list-header>
                  <ion-progress-bar color="primary" [value]="poll.votesC?.length / 100"></ion-progress-bar>
                </ion-list>

                <ion-list class="pollOpt" *ngIf="poll.pollOptionD">
                  <ion-list-header>
                    <ion-label>
                      {{ poll.pollOptionD }}
                      <ion-badge class="counter">{{ poll.votesD?.length }} vote/s</ion-badge>
                    </ion-label>
                    <ion-button (click)="poll.votesD?.includes(cUser) ? unVote(poll.pollId, cUser, 'votesD') : vote(poll.pollId, cUser, 'votesD', 'votesA', 'votesB', 'votesC')">
                      <ion-icon color="secondary" [name]="poll.votesD?.includes(cUser) ? 'checkmark-circle' : 'checkmark-circle-outline'" slot="icon-only"></ion-icon>
                    </ion-button>
                  </ion-list-header>
                  <ion-progress-bar color="primary" [value]="poll.votesD?.length / 100"></ion-progress-bar>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
