<ion-header>
  <ion-toolbar color="light">
    <ion-spinner color="secondary" *ngIf="isLoading"></ion-spinner>
    <ion-title *ngIf="!isLoading">{{ segmentModel | titlecase}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onClose()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="comment" color="secondary" [(ngModel)]="segmentModel" (ionChange)="onSegmentChange()">
    <ion-segment-button value="members" layout="icon-start">
      <ion-icon name="people"></ion-icon>
      <ion-label>Members</ion-label>
    </ion-segment-button>
    <ion-segment-button value="add member" layout="icon-start" *ngIf="auth.canEdit(user)">
      <ion-icon name="person-add"></ion-icon>
      <ion-label>Add Member</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="segmentModel === 'members'">
    <ion-grid>
      <ion-list inset="true">
        <ion-list-header>
         Members
        </ion-list-header>

        <div class="ion-text-center ion-padding" *ngIf="memberInfo?.length <= 0">
          <ion-icon name="people" class="label-icon"></ion-icon>
          <p><strong>No Member is added.</strong></p>
        </div>

        <div *ngIf="auth.canEdit(user)">
          <div *ngFor="let user of memberInfo">
            <ion-item-sliding *ngIf="user.organizationId?.includes(orgId)" #slidingMember>
              <ion-item detail>
                <ion-avatar slot="start">
                  <img [src]="user.userPhoto">
                </ion-avatar>
                <ion-label>
                  <h2>{{ user.userName }} {{ user.userSurname }}</h2>
                  <p>{{ user.roleName }}</p>
                </ion-label>
              </ion-item>
                <ion-item-options *ngIf="cUser != user.userId">
                  <ion-item-option color="danger" (click)="removeMember(user.userId, slidingMember)">
                    <ion-icon name="person-remove" slot="icon-only"></ion-icon>
                  </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
          </div>
        </div>

        <div *ngIf="!auth.canEdit(user)">
          <div *ngFor="let user of memberInfo">
            <ion-item-sliding *ngIf="user.organizationId?.includes(orgId)" #slidingMember>
              <ion-item>
                <ion-avatar slot="start">
                  <img [src]="user.userPhoto">
                </ion-avatar>
                <ion-label>
                  <h2>{{ user.userName }} {{ user.userSurname }}</h2>
                  <p>{{ user.roleName }}</p>
                </ion-label>
              </ion-item>
            </ion-item-sliding>
          </div>
        </div>

      </ion-list>
    </ion-grid>
  </div>

  <div *ngIf="segmentModel === 'add member' && auth.canEdit(user)">
    <ion-grid>
      <ion-list inset="true">
        <ion-list-header>
         Users
        </ion-list-header>

        <div *ngFor="let user of userList">
          <ion-item-sliding *ngIf="!user.organizationId?.includes(orgId)" #slidingMember>
            <ion-item detail *ngIf="cUser != user.userId">
              <ion-avatar slot="start">
                <img [src]="user.userPhoto">
              </ion-avatar>
              <ion-label>
                <h2>{{ user.userName }} {{ user.userSurname }}</h2>
                <h3>{{ user.roleName }}</h3>
                <p>
                  <ion-icon name="school" slot="start"></ion-icon>
                  {{ user.course }}
                </p>
                <p>
                  <ion-icon name="mail" slot="start"></ion-icon>
                  {{ user.userEmail }}
                </p>
              </ion-label>
            </ion-item>
            <ion-item-options *ngIf="cUser != user.userId">
              <ion-item-option color="secondary" (click)="addMember(user.userId, slidingMember)">
                <ion-icon name="person-add" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </div>
      </ion-list>
    </ion-grid>
  </div>

</ion-content>
