.img-center {
    margin: 0 auto;
    padding-top: 5px;
}

.profile-card ion-card-header,
.profile-card ion-card-content {
  text-align: center;
}

.font {
  font-weight: bolder;
  font-size: large;
}
