<ion-list class="ion-no-margin">
  <ion-list-header>
    <h5>Edit Password</h5>
  </ion-list-header>

<form #f="ngForm">
  <ion-item>
    <ion-label *ngIf="oldPasswords.touched && !oldPasswords.valid" color="danger" position="floating">OLD PASS REQUIRED</ion-label>
    <ion-icon [color]="oldPasswords.touched && !oldPasswords.valid ? 'danger' : 'secondary'" name="lock-closed" slot="start"></ion-icon>
    <ion-input name="oldpassword"
              [type]="showPassword ? 'text' : 'password'"
              placeholder="Current password"
              [(ngModel)]="oldPassword" required
              minlength="6"
              #oldPasswords="ngModel">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label *ngIf="newPasswords.touched && !newPasswords.valid" color="danger" position="floating">NEW PASS REQUIRED</ion-label>
    <ion-icon [color]="newPasswords.touched && !newPasswords.valid ? 'danger' : 'secondary'" name="key" slot="start"></ion-icon>
    <ion-input name="newpassword"
              [type]="showPassword ? 'text' : 'password'"
              placeholder="New password"
              [(ngModel)]="newPassword" required
              minlength="6"
              #newPasswords="ngModel">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label *ngIf="confirmPasswords.touched && !confirmPasswords.valid" color="danger" position="floating">CONFIRM PASS</ion-label>
    <ion-icon [color]="confirmPasswords.touched && !confirmPasswords.valid ? 'danger' : 'secondary'" name="key" slot="start"></ion-icon>
    <ion-input name="retypepassword"
              [type]="showPassword ? 'text' : 'password'"
              placeholder="Confirm password"
              [(ngModel)]="confirmPassword" required
              minlength="6"
              #confirmPasswords="ngModel">
    </ion-input>
  </ion-item>

  <ion-item lines="none" class="font-password">
    <ion-checkbox mode="md" (click)="viewPassword()" slot="start"></ion-checkbox>
    <ion-label>View Password</ion-label>
  </ion-item>

  <ion-item lines="none" button (click)="getPassword()">
    <ion-icon name="reload-sharp" slot="start"></ion-icon>
    <ion-label class="font-password padding-password">Generate Password</ion-label>
  </ion-item>
</form>
</ion-list>

<!-- <ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="auto">
      <ion-item lines="none" class="icon-bg" detail="false" button>
        <ion-icon name="eye"></ion-icon>
      </ion-item>
    </ion-col>
    <ion-col size="auto">
      <ion-item lines="none" class="icon-bg" detail="false" button>
        <ion-icon name="reload-circle"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid> -->

<ion-item lines="none" color="success" detail="true" button (click)="updatePassword()" [disabled]="!f.valid">
  <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
  <ion-text>Update</ion-text>
</ion-item>

<ion-item lines="none" color="danger" detail="true" button (click)="closePopOver()">
  <ion-icon name="close-circle-outline" slot="start"></ion-icon>
  <ion-text>Cancel</ion-text>
</ion-item>
