<ion-header>
  <ion-toolbar>
    <ion-title>Notification</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngIf="notif?.length > 0">
  <ion-item color="tertiary">
      <ion-icon name="notifications" slot="start"></ion-icon>
    <ion-label>
      <h3>
        <strong>
          Welcome to Notifications Section
        </strong>
      </h3>
      <p>Check updates of the post and events in your organization.</p>
    </ion-label>
  </ion-item>
  <ion-list *ngFor="let n of notif">
    <ion-item *ngIf="n.userId !== currentUser" button (click)="viewNotif(n.notifId)">
      <ion-avatar slot="start">
        <img [src]="n.userPhoto" />
      </ion-avatar>
      <ion-thumbnail slot="end">
        <img *ngIf="n.notifPhoto" [src]="n.notifPhoto" />
      </ion-thumbnail>
      <ion-label>
        <h3>{{ n.userName }} {{ n.userSurname }}</h3>
        <p>{{ n.action }}</p>
        <p class="time-font">{{ n.createdAt | date:'medium' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>

  <!-- <div class="ion-text-center ion-padding" *ngIf="notif?.length <= 0">
    <ion-icon name="notifications" class="label-icon"></ion-icon>
    <p><strong>No Notifications today.</strong></p>
  </div> -->
</ion-content>
