
<ion-content *ngIf="connectionMsg == true">
  <img class="wave" src="https://firebasestorage.googleapis.com/v0/b/db-stuportal.appspot.com/o/assets%2Fwave2.png?alt=media&token=5312c5ad-2c9e-48dd-a5c7-0aa7c7dc844c">

  <div class="wrapper">
  <ion-grid class="square">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col class="left" size-lg="3" size-md="4" size-sm="6" size="12">
        <ion-card class="left-side">
          <ion-card-content>
            <ion-img class="logo" src="https://firebasestorage.googleapis.com/v0/b/db-stuportal.appspot.com/o/assets%2FPLVlogo.png?alt=media&token=0a5a60b7-e6d3-42cb-b13a-0820e87562ed"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="right" size-lg="5" size-md="6" size-sm="6" size="12">
        <ion-card>
          <ion-card-header><h5>Pamantasan ng Lungsod ng Valenzuela</h5></ion-card-header>
          <ion-card-content>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
              <ion-list lines="full">
                <ion-item>
                  <ion-icon name="at-circle" slot="start" [color]="email.touched && !email.valid ? 'danger' : 'secondary'"></ion-icon>
                  <ion-input name="email" placeholder="Email" required type="email" ngModel #email="ngModel" email></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="lock-closed" slot="start" [color]="password.touched && !password.valid ? 'danger' : 'secondary'"></ion-icon>
                  <ion-input
                    name="password"
                    placeholder="Password"
                    required
                    [type]="showPassword ? 'text' : 'password'"
                    ngModel
                    #password="ngModel"
                    minlength="6">
                  </ion-input>
                  <ion-icon [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
                </ion-item>

                <div class="ion-text-right ion-padding-end ion-padding-vertical">
                  <p><a class="fpass" [routerLink]="['/forgot-password']">Forgot Password?</a></p>
                </div>

                <ion-item color="danger" lines="none" *ngIf="email.touched && !email.valid">
                  <ion-icon name="close-circle" slot="start"></ion-icon>
                  <ion-text>Enter valid email.</ion-text>
                </ion-item>
                <ion-item color="danger" lines="none" *ngIf="password.touched && !password.valid">
                  <ion-icon name="close-circle" slot="start"></ion-icon>
                  <ion-text>Enter valid password.</ion-text>
                </ion-item>

                <ion-button class="ion-margin" type="submit" expand="block" [disabled]="!f.valid">Login</ion-button>
              </ion-list>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
<!-- <div class="container">
  <div class="image">
    <img src="../../assets/images/PLVlogo.png" alt="">
  </div>
</div> -->

<ion-content *ngIf="connectionMsg == false">
  <div class="ion-text-center ion-padding" style="height: 100%; display: flex; align-items: center; justify-content: center;">
    <ion-card color="danger">
      <ion-card-title class="ion-padding">
        <div style="font-size:100px;">&#9888;</div>
        <strong>
          No Internet Connection
        </strong>
      </ion-card-title>
    </ion-card>
  </div>
</ion-content>



