<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button (click)="openFirst()"></ion-menu-button>
    </ion-buttons>
    <ion-title>Audit Trail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-item>

    <ion-select value="name" okText="Okay" cancelText="Dismiss" style="width: 100px;">
      <ion-select-option value="name">Name</ion-select-option>
      <ion-select-option value="sid">Student ID</ion-select-option>
      <ion-select-option value="action">Action</ion-select-option>
      <ion-select-option value="email">Email Add</ion-select-option>
    </ion-select>


  <ion-searchbar animated></ion-searchbar>
</ion-item>

<ion-row class="header-row">
  <ion-col size="2">ID</ion-col>
  <ion-col size="4" size-md="3" size-lg="2">Name</ion-col>
  <ion-col size="2" class="ion-hide-md-down">Student No.</ion-col>
  <ion-col size="3">Action</ion-col>
  <ion-col size="3" class="ion-hide-sm-down">Date</ion-col>
</ion-row>
<ion-row class="data-row">
  <ion-col size="2">1</ion-col>
  <ion-col size="4" size-md="4" size-lg="2">Mina Myoui</ion-col>
  <ion-col size="2" class="ion-hide-md-down">123123</ion-col>
  <ion-col size="3">Login</ion-col>
  <ion-col size="3" class="ion-hide-sm-down">May 21, 2020</ion-col>
</ion-row>
<ion-row class="data-row">
  <ion-col size="2">2</ion-col>
  <ion-col size="4" size-md="4" size-lg="2">Lisa Manoban</ion-col>
  <ion-col size="2" class="ion-hide-md-down">111111</ion-col>
  <ion-col size="3">Logout</ion-col>
  <ion-col size="3" class="ion-hide-sm-down">May 21, 2020</ion-col>
</ion-row>
<ion-row class="data-row">
  <ion-col size="2">3</ion-col>
  <ion-col size="4" size-md="4" size-lg="2">Kang Seulgi</ion-col>
  <ion-col size="2" class="ion-hide-md-down">333333</ion-col>
  <ion-col size="3">Logout</ion-col>
  <ion-col size="3" class="ion-hide-sm-down">May 22, 2020</ion-col>
</ion-row>
</ion-content>
