<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button (click)="openFirst()"></ion-menu-button>
    </ion-buttons>
    <ion-title>Audit Trail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" lines="none">
<ion-item>
    <ion-select [(ngModel)]="selectCategory" okText="Okay" cancelText="Dismiss" slot="start">
      <ion-select-option value="userName">First Name</ion-select-option>
      <ion-select-option value="userSurname">Last Name</ion-select-option>
      <ion-select-option value="userSchoolId">Student ID</ion-select-option>
      <ion-select-option value="action">Action</ion-select-option>
    </ion-select>

    <ion-searchbar animated color="medium" (ionInput)="filterList($event)"></ion-searchbar>
</ion-item>

<div class="ion-padding">
<ion-button (click)="deleteData()" color="danger" *ngIf="rows?.length > 0">
  <ion-icon name="trash" slot="start"></ion-icon>
  <ion-label>Delete Records</ion-label>
</ion-button>
<ion-button (click)="exportCSV()" *ngIf="rows?.length > 0">
  <ion-icon name="receipt" slot="start"></ion-icon>
  <ion-label>Export to CSV</ion-label>
</ion-button>
  <ngx-datatable
  class="material"
  [limit]="8"
  [rows]="rows"
  [rowHeight]="'auto'"
  [columns]="columns"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [scrollbarH]="true">


    <ngx-datatable-column name="Surname" prop="userSurname">
      <ng-template ngx-datatable-cell-template let-value="value">{{ value }}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="First Name" prop="userName">
      <ng-template ngx-datatable-cell-template let-value="value">{{ value }}</ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column name="School/Student ID" prop="userSchoolId">
      <ng-template ngx-datatable-cell-template let-value="value">{{ value }}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Action" prop="action">
      <ng-template ngx-datatable-cell-template let-value="value">{{ value }}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Timestamp" prop="createdAt">
      <ng-template ngx-datatable-cell-template let-value="value">{{ value | date:'medium' }}</ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>

</ion-content>
