.message-content {
  color: var(--ion-color-dark);
}

.icon-content {
  --background: none;
  opacity: 1;
}

.time-font {
  font-size: x-small;
}

.message {
  border-radius: 10px;
}

.chat-bg {
  background-color: transparent;
  box-shadow: none;
}

.profile-pic {
  width: 43px;
  height: 43px;
}

.message-writer {
  width: 100%;
  border: 2px solid var(--ion-color-medium);
  border-radius: 4px;
  resize: none;
  padding: 6px 10px;
  background: none;
}

.msg-btn {
  --padding-start: 0.5em;
  --padding-end: 0.5em;
}

//No Chat Icon
.label-icon {
  font-size: 10rem;
}

