.picker {
  width: 30rem;
  max-width: 100%;
  height: 5rem;
  max-height: 30vh;
  border: 4px dashed var(--ion-color-secondary);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

// input[type='file'] {
//   display: none;
// }
