<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button (click)="openFirst()"></ion-menu-button>
    </ion-buttons>
    <ion-title>User List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <ion-fab vertical="top" horizontal="end" slot="fixed" edge style="margin-right: 10px;">
    <ion-fab-button color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="light" routerLink="/register" data-desc="Add User">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-item class="ion-padding">

    <ion-select [(ngModel)]="selectCategory" okText="Okay" cancelText="Dismiss" slot="start">
      <ion-select-option value="userName">First Name</ion-select-option>
      <ion-select-option value="userSurname">Last Name</ion-select-option>
      <ion-select-option value="userSchoolId">Student ID</ion-select-option>
      <ion-select-option value="roleName">Role</ion-select-option>
      <ion-select-option value="userEmail">Email</ion-select-option>
      <ion-select-option value="course">Course</ion-select-option>
    </ion-select>

    <ion-searchbar animated color="medium" (ionInput)="filterList($event)"></ion-searchbar>
  </ion-item>

<ion-grid>
  <ion-list inset="true">
    <ion-list-header>
     Users
    </ion-list-header>

    <ion-item-sliding *ngFor="let user of resultList" #slidingMember>
      <ion-item detail *ngIf="cUser != user.userId">
        <ion-avatar slot="start">
          <img [src]="user.userPhoto">
        </ion-avatar>
        <ion-label>
          <h2>{{ user.userName }} {{ user.userSurname }}</h2>
          <h3>{{ user.roleName }}</h3>
          <p>
            <ion-icon name="school" slot="start"></ion-icon>
            {{ user.course }}
          </p>
          <p>
            <ion-icon name="mail" slot="start"></ion-icon>
            {{ user.userEmail }}
          </p>
        </ion-label>
        <ion-note slot="end">{{ user.createdAt | date }}</ion-note>
      </ion-item>
      <ion-item-options *ngIf="cUser != user.userId">
        <ion-item-option color="secondary" (click)="editUser(user.userId, slidingMember)">
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-grid>

<div class="ion-text-center ion-padding" *ngIf="resultList?.length <= 0">
  <ion-icon name="shapes" class="label-icon"></ion-icon>
  <p><strong>No User Found.</strong></p>
</div>
</ion-content>
