.music-card ion-card-header,
.music-card ion-card-content {
  text-align: center;
}

.music-card img {
  width: 240px;
  height: 240px;

  box-shadow: 0px 2px 8px rgba(2, 8, 20, 0.1), 0px 8px 16px rgba(2, 8, 20, 0.08);
  border-radius: 6px;
  object-fit: cover;
}

.music-card h1 {
  font-weight: 600;
}

.music-card p {
  color: var(--text-light);
}

.item-content {
  --ion-item-background: transparent;
}

.list-content {
  background: transparent;
}

//Username Post
.userpost-name {
  font-weight: 600;
}

.name-content {
  --background: none;
  opacity: 1;
}
