<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile Information</ion-title>
  </ion-toolbar>
</ion-header> -->

<!--ion-content class="ion-padding">
  <div class="container">
    <div class="profile-header">
      <div class="profile-img">
          <ion-spinner *ngIf="!userPhoto"></ion-spinner>
          <img [src]="userPhoto" *ngIf="userPhoto">
      </div>
      <div class="profile-nav-info">
        <h3 class="user-name">{{ user?.userName }} {{ user?.userSurname }}</h3>
        <div class="address">
          <p class="state">{{ user?.roleName }}</p>
        </div>
      </div>
    </div>
    <div class="main-bd">
      <div class="left-side">
        <div class="profile-side">
          <ion-item lines="none" class="no-bg">
            <ion-icon name="id-card" slot="start"></ion-icon>
            <ion-text class="school-id">{{ user?.userSchoolId }}</ion-text>
          </ion-item>
          <ion-item lines="none" class="no-bg">
            <ion-icon name="at-circle" slot="start"></ion-icon>
            <ion-text class="user-mail">{{ user?.userEmail }}</ion-text>
          </ion-item>
          <div class="user-bio">
            <p class="bio">{{ user?.bio }}</p>
          </div>
          <div class="profile-btn">
            <ion-button color="primary" class="chatbtn" (click)="updateProfile(null)">
              <ion-icon name="person" slot="start"></ion-icon>
              Edit Profile
            </ion-button>
            <ion-button color="primary" class="createbtn" (click)="updatePassword(null)">
              <ion-icon name="lock-closed" slot="start"></ion-icon>
              Edit Password
            </ion-button>
          </div>
          <ion-item lines="none" class="no-bg">
            <ion-icon name="information-circle" slot="start"></ion-icon>
            <ion-text class="school-id">Created at: {{ user?.createdAt | date}}</ion-text>
          </ion-item>
        </div>
      </div>
      <div class="right-side">
        <div class="nav">
          <ul>
            <li class="user-post">Your Post</li>
          </ul>
        </div>
        <div class="profile-body">

        </div>
      </div>
    </div>
  </div>
</ion-content-->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col
        size-lg="3"
        size-md="4"
        size-sm="6"
        size="12"
        offsetLg="2"
        offsetMd="2"
        class="about"
      >
      <ion-card class="music-card">
        <ion-card-header>
          <ion-spinner *ngIf="!userPhoto"></ion-spinner>
          <img [src]="userPhoto" *ngIf="userPhoto">
        </ion-card-header>
        <ion-card-content text-center>
          <h1>{{ user?.userName }} {{ user?.userSurname }}</h1>
          <ion-chip outline color="tertiary">
            <ion-icon name="person"></ion-icon>
            <ion-label>{{ user?.roleName }}</ion-label>
          </ion-chip>

          <p>{{ user?.bio }}</p>

          <ion-list lines="none" class="list-content">
            <ion-item class="item-content">
              <ion-icon slot="start" name="id-card"></ion-icon>
              <p>{{ user?.userSchoolId }}</p>
            </ion-item>
            <ion-item class="item-content">
              <ion-icon slot="start" name="mail"></ion-icon>
              <p>{{ user?.userEmail }}</p>
            </ion-item>
            <ion-item class="item-content">
              <ion-icon slot="start" name="school"></ion-icon>
              <p>{{ user?.course }}</p>
            </ion-item>
            <ion-item class="item-content">
              <ion-icon slot="start" name="information-circle"></ion-icon>
              <p>Created at: {{ user?.createdAt | date}}</p>
            </ion-item>
          </ion-list>


          <ion-button expand="full" color="primary" class="chatbtn" (click)="updateProfile(null)">
            <ion-icon name="person" slot="start"></ion-icon>
            Edit Profile
          </ion-button>
          <ion-button expand="full" color="primary" class="createbtn" (click)="updatePassword(null)">
            <ion-icon name="lock-closed" slot="start"></ion-icon>
            Edit Password
          </ion-button>

        </ion-card-content>
      </ion-card>
      </ion-col>
      <ion-col size-lg="5" size-md="4" size-sm="6" size="12">
        <ion-segment
          value="post"
          color="secondary">
          <ion-segment-button value="post">
            <ion-label>Posts</ion-label>
          </ion-segment-button>
        </ion-segment>


        <!-- Post Section -->
      <div>
        <div class="ion-text-center ion-padding" *ngIf="(posts | async)?.length <= 0">
          <ion-icon name="shapes" class="label-icon"></ion-icon>
          <p><strong>No Post is added.</strong></p>
        </div>
        <div *ngIf="(posts | async)?.length > 0">
          <div *ngFor="let p of posts | async">
            <ion-card>
              <ion-item class="name-content" lines="none">
                <ion-avatar slot="start">
                  <img [src]="p.postedByPhoto" alt="" />
                </ion-avatar>
                <ion-label>
                  <h2 class="userpost-name">{{ p.postedBy }} {{ p.postedBySurname }}</h2>
                  <p>{{ p.createdAt | date }}</p>
                </ion-label>
              </ion-item>
              <img [src]="p.postImageUrl" />
              <ion-card-header>
                <ion-card-title>{{ p.postTitle }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p class="content-font">{{ p.postContent }}</p>
              </ion-card-content>
              <ion-card-content>
                <!-- <ion-chip outline color="tertiary" *ngIf="p.postOrgId !== 'public'" [routerLink]="['/home', p.postOrgId]" [fragment]="p.postId">
                  <ion-icon name="link"></ion-icon>
                  <ion-label>View Org</ion-label>
                </ion-chip> -->
                <ion-chip outline color="tertiary" (click)="editPostForm(null, p.postId)">
                  <ion-icon name="create"></ion-icon>
                  <ion-label>Edit</ion-label>
                </ion-chip>
                <ion-chip outline color="danger" (click)="deletePostForm(p.postId)">
                  <ion-icon name="trash"></ion-icon>
                  <ion-label>Delete</ion-label>
                </ion-chip>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

