//No Post Icon
.label-icon {
  font-size: 10rem;
}

//Content font
.content-font {
  font-size: 15px;
}

//Username Post
.userpost-name {
  font-weight: 600;
}

.name-content {
  --background: none;
  opacity: 1;
}