<ion-header>
  <ion-toolbar color="light">
    <ion-title>Add Post</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onClose()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-list class="ion-no-margin">

  <ion-list-header>
    <h6>Add a photo:</h6>
  </ion-list-header>
  <div class="picker">
    <div class="selectedImage" *ngIf="selectedImage">
      <img class="img" [src]="selectedImageUri" alt=" " />
    </div>
    <ion-button fill="clear" (click)="onPickImage()" *ngIf="!selectedImage">
      <ion-icon name="image" slot="start"></ion-icon>
      <ion-text>Choose Image</ion-text>
    </ion-button>
  </div>
  <input
  type="file"
  accept=".jpg,.png"
  *ngIf="usePicker"
  #filePicker
  (change)="onFileChosen($event)"
  />

  <ion-button color="primary" expand="full" class="ion-margin-vertical" (click)="onPickImage()">
    <ion-icon name="image" slot="start"></ion-icon>
    <ion-text>Choose Image</ion-text>
  </ion-button>

  <form [formGroup]="formGroup">
    <ion-list lines="none">
      <ion-item>
        <ion-label *ngIf="!formGroup.get('postTitle').valid && formGroup.get('postTitle').touched" color="danger" position="floating">FIELD CANNOT BE EMPTY</ion-label>
        <ion-icon [color]="!formGroup.get('postTitle').valid && formGroup.get('postTitle').touched ? 'danger' : 'secondary'" name="receipt" slot="start"></ion-icon>
        <ion-input
        formControlName="postTitle"
        placeholder="Post Title">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label *ngIf="!formGroup.get('postContent').valid && formGroup.get('postContent').touched" color="danger" position="floating">FIELD CANNOT BE EMPTY</ion-label>
        <ion-icon [color]="!formGroup.get('postContent').valid && formGroup.get('postContent').touched ? 'danger' : 'secondary'" name="newspaper" slot="start"></ion-icon>
        <ion-textarea
        formControlName="postContent"
        rows="2"
        placeholder="Post Content">
        </ion-textarea>
      </ion-item>
    </ion-list>
  </form>

</ion-list>

<ion-item lines="none" color="success" detail="true" button [disabled]="!formGroup.valid" (click)="addPost()">
  <ion-icon name="add-circle-outline" slot="start"></ion-icon>
  <ion-text>Add Post</ion-text>
</ion-item>

