<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button (click)="openFirst()"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed" edge style="margin-right: 10px;" *ngIf="auth.canDelete(user)">
    <ion-fab-button color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="light" (click)="openAddForm(null)" data-desc="Add Org">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
      <!-- <ion-fab-button color="light" data-desc="Add Announcement">
        <ion-icon name="easel"></ion-icon>
      </ion-fab-button> -->
    </ion-fab-list>
  </ion-fab>

  <!-- <ion-slides pager="true" [options]="slideOpts" autoplay="7000">
    <ion-slide>
      <ion-img class="img-carousel" src="https://firebasestorage.googleapis.com/v0/b/db-stuportal.appspot.com/o/assets%2Fbg.png?alt=media&token=13e43b15-49c1-43b7-91db-b88fef829a76"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img class="img-carousel" src="https://firebasestorage.googleapis.com/v0/b/db-stuportal.appspot.com/o/assets%2Fbg.png?alt=media&token=13e43b15-49c1-43b7-91db-b88fef829a76"></ion-img>
    </ion-slide>
  </ion-slides> -->

  <ion-item class="ion-padding" color="none">
    <ion-icon name="apps-outline"></ion-icon>
    <ion-title>My Orgs</ion-title>
  </ion-item>

  <ion-segment color="tertiary" value="Academic" [(ngModel)]="segmentModel" (ionChange)="segmentChanged()">
    <ion-segment-button value="Academic" layout="icon-start">
      <ion-label>Academic</ion-label>
      <ion-icon name="book"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="Non-Academic" layout="icon-start">
      <ion-label>Non-Academic</ion-label>
      <ion-icon name="color-palette"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div class="ion-text-center ion-padding" *ngIf="(!isLoading && organization?.length <= 0) && segmentModel === 'Academic'">
    <ion-icon name="shapes" class="label-icon"></ion-icon>
    <p><strong>No Organization is added. Create one?</strong></p>
    <ion-button color="primary" (click)="openAddForm(null)">Create Organization</ion-button>
  </div>

  <div class="ion-text-center ion-padding" *ngIf="(!isLoading && (orgs | async)?.length <= 0) && segmentModel === 'Non-Academic'">
    <ion-icon name="shapes" class="label-icon"></ion-icon>
    <p><strong>No Organization is added. Create one?</strong></p>
    <ion-button color="primary" (click)="openAddForm(null)">Create Organization</ion-button>
  </div>

  <!-- Org List Academic -->
  <ion-grid *ngIf="(!isLoading && organization?.length > 0 ) && segmentModel === 'Academic'">
    <ion-row>
      <ion-col size-lg="3" size-md="4" size-sm="6" size="12" *ngFor="let o of organization">
        <ion-card>
          <div class="container">
            <ion-img class="img" [src]="o.imageUrl"></ion-img>
          </div>
          <ion-card-header>
            <ion-card-title class="truncateWord">{{ o.orgName }}</ion-card-title>
            <ion-card-subtitle>{{ o.userList?.length > 0 ? o.userList?.length : '0' }} member/s</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p class="truncateWord">{{ o.description }}</p>
          </ion-card-content>
          <ion-button fill="solid" class="ion-margin" expand="block" color="primary" [routerLink]="['/home', o.orgId]">
            <ion-icon name="open" slot="start"></ion-icon>
            <ion-label>View</ion-label>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

    <!-- Org List Non-Academic -->
    <ion-grid *ngIf="(!isLoading && (orgs | async)?.length > 0 ) && segmentModel === 'Non-Academic'">
      <ion-row>
        <ion-col size-lg="3" size-md="4" size-sm="6" size="12" *ngFor="let o of orgs | async">
          <ion-card>
            <div class="container">
              <ion-img class="img" [src]="o.imageUrl"></ion-img>
            </div>
            <ion-card-header>
              <ion-card-title class="truncateWord">{{ o.orgName }}</ion-card-title>
              <ion-card-subtitle>0 members</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p class="truncateWord">{{ o.description }}</p>
            </ion-card-content>
            <ion-button fill="solid" class="ion-margin" expand="block" color="primary" [routerLink]="['/home', o.orgId]">
              <ion-icon name="open" slot="start"></ion-icon>
              <ion-label>View</ion-label>
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
