<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/users"></ion-back-button>
    </ion-buttons>
    <ion-title>Add New User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <ion-grid>
        <ion-row>
          <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-item>
              <ion-label *ngIf="fUserCtrl.touched && !fUserCtrl.valid" color="danger" position="floating">First Name is required.
              </ion-label>
              <ion-icon name="person" slot="start"></ion-icon>
              <ion-input name="fname" required type="text" placeholder="First Name" ngModel #fUserCtrl="ngModel">
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-item>
              <ion-label *ngIf="sUserCtrl.touched && !sUserCtrl.valid" color="danger" position="floating">Surname is required.
              </ion-label>
              <ion-icon name="person" slot="start"></ion-icon>
              <ion-input name="sname" required type="text" placeholder="Surname" ngModel #sUserCtrl="ngModel">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label *ngIf="email.touched && !email.valid" color="danger" position="floating">Email is required.
              </ion-label>
              <ion-icon name="mail" slot="start"></ion-icon>
              <ion-input name="email" required type="email" (ionChange)="emailGenerate(f)" [value]="f.value.fname + f.value.sname + '@plv.edu.ph'" placeholder="Email" ngModel #email="ngModel" email>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
            <ion-item>
              <ion-label *ngIf="studentId.touched && !studentId.valid" color="danger" position="floating">Student/ID No. is required.</ion-label>
              <ion-icon name="today" slot="start"></ion-icon>
              <ion-input
                name="studentId"
                required type="text"
                (ionChange)="addDashes($event, f)"
                (keypress)="allowNumber($event)"
                placeholder="Student/ID No." ngModel
                #studentId="ngModel"
                maxlength="7">
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
            <ion-item>
              <ion-label *ngIf="birthdate.touched && !birthdate.valid" color="danger" position="floating">Birthday is required.</ion-label>
              <ion-icon name="gift" slot="start"></ion-icon>
              <ion-input placeholder="Birthday" [type]="viewCalendar" (ionFocus)="calendarMode()" name="birthdate" ngModel #birthdate="ngModel" required></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
            <ion-item>
              <ion-label>Role</ion-label>
              <ion-select interface="alert" [(ngModel)]="selectRole" [ngModelOptions]="{standalone: true}"> 
                <ion-select-option value="Admin">Admin</ion-select-option>
                <ion-select-option value="Moderator">Moderator</ion-select-option>
                <ion-select-option value="Officer">Student Officer</ion-select-option>
                <ion-select-option value="Student">Student</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-item>
              <ion-label *ngIf="password.touched && !password.valid" color="danger" position="floating">Password is required.
              </ion-label>
              <ion-icon name="key" slot="start"></ion-icon>
              <ion-input name="password" required (ionChange)="getDate(f)" [value]="f.value.sname + f.value.birthdate" [type]="showPassword ? 'text' : 'password'" placeholder="Password"
                [(ngModel)]="newGeneratedPassword" #password="ngModel" minlength="6">
              </ion-input>
              <ion-icon [name]="passwordToggleIcon"  slot="end" (click)="togglePassword()"></ion-icon>
              <ion-icon name="reload-outline" slot="end" (click)="getPassword()"></ion-icon>
            </ion-item>
          </ion-col>

          <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-item>
              <ion-label *ngIf="newGeneratedPassword && !passwordMatch" color="danger" position="floating">Passwords don't matched.</ion-label>
              <ion-label *ngIf="newGeneratedPassword && passwordMatch && confirmpass.valid" color="success"
                position="floating">Passwords match.</ion-label>
              <ion-icon name="key" slot="start"></ion-icon>
              <ion-input name="confirmpass" required [type]="showPassword ? 'text' : 'password'"
                placeholder="Confirm Password" [(ngModel)]="confirmPassword" (ionChange)="checkPassword()"
                #confirmpass="ngModel" minlength="6">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>




        <ion-button class="ion-margin" type="submit" expand="block" shape="round"
          [disabled]="!f.valid || !passwordMatch">
          Add User
        </ion-button>
    </ion-grid>
    </form>
  </ion-card>
</ion-content>
