<ion-header>
  <ion-toolbar color="light">
    <ion-title>Create Event</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onClose()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="ion-no-margin">

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img [src]="userPhoto" alt="" />
      </ion-avatar>
      <ion-label>
        <h2 class="userpost-name">{{ userName }} {{ userSurname }}</h2>
        <p>{{ role }}</p>
      </ion-label>
    </ion-item>
  
  
    <form [formGroup]="formGroup">
      <ion-list lines="none">
        <ion-item>
          <ion-label *ngIf="!formGroup.get('eventTitle').valid && formGroup.get('eventTitle').touched" color="danger" position="floating">Field cannot be empty.</ion-label>
          <ion-icon [color]="!formGroup.get('eventTitle').valid && formGroup.get('eventTitle').touched ? 'danger' : 'secondary'" name="receipt" slot="start"></ion-icon>
          <ion-input
          formControlName="eventTitle"
          placeholder="Event Title">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label *ngIf="!formGroup.get('eventContent').valid && formGroup.get('eventContent').touched" color="danger" position="floating">Field cannot be empty.</ion-label>
          <ion-icon [color]="!formGroup.get('eventContent').valid && formGroup.get('eventContent').touched ? 'danger' : 'secondary'" name="newspaper" slot="start"></ion-icon>
          <ion-textarea
          formControlName="eventContent"
          rows="4"
          placeholder="Event Content">
          </ion-textarea>
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
              <ion-item>
                <ion-label *ngIf="!formGroup.get('startDate').valid && formGroup.get('startDate').touched" color="danger" position="floating">Field cannot be empty.</ion-label>
                <ion-icon [color]="!formGroup.get('startDate').valid && formGroup.get('startDate').touched || !datesValidator() ? 'danger' : 'secondary'" name="calendar" slot="start"></ion-icon>
                <ion-label *ngIf="!datesValidator() && formGroup.get('startDate').touched" color="danger" position="floating">Enter valid dates.</ion-label>
                <ion-datetime
                  [ngClass]="!datesValidator() && formGroup.get('startDate').touched ? 'datetime-error' : 'datetime-success'"
                  displayFormat="MMM DD, YYYY"
                  max="2100-12-31"
                  formControlName="startDate"
                  placeholder="Start Date"
                  #startDate>
                  </ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
              <ion-item>
                <ion-label *ngIf="!formGroup.get('endDate').valid && formGroup.get('endDate').touched" color="danger" position="floating">Field cannot be empty.</ion-label>
                <ion-icon [color]="!formGroup.get('endDate').valid && formGroup.get('endDate').touched || !datesValidator() ? 'danger' : 'secondary'" name="calendar" slot="start"></ion-icon>
                <ion-label *ngIf="!datesValidator() && formGroup.get('endDate').touched" color="danger" position="floating">Enter valid dates.</ion-label>
                  <ion-datetime
                  [ngClass]="!datesValidator() && formGroup.get('endDate').touched ? 'datetime-error' : 'datetime-success'"
                  displayFormat="MMM DD, YYYY"
                  max="2100-12-31"
                  formControlName="endDate"
                  placeholder="End Date">
                  </ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
              <ion-item>
                <ion-label *ngIf="!formGroup.get('startTime').valid && formGroup.get('startTime').touched" color="danger" position="floating">Field cannot be empty.</ion-label>
                <ion-icon [color]="!formGroup.get('startTime').valid && formGroup.get('startTime').touched ? 'danger' : 'secondary'" name="time" slot="start"></ion-icon>
                  <ion-datetime displayFormat="h:mm A"
                  pickerFormat="h:mm A"
                  formControlName="startTime"
                  placeholder="Start Time">
                  </ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </form>

    <div class="picker" *ngIf="viewImage">
      <div class="selectedImage" *ngIf="selectedImage">
        <img class="img" [src]="selectedImageUri" alt=" " />
      </div>
      <ion-button color="dark" fill="clear" (click)="onPickImage()" *ngIf="!selectedImage">
        <ion-icon name="image" slot="start"></ion-icon>
        <ion-text><h5>Add Photo</h5></ion-text>
      </ion-button>
    </div>
    <input
    type="file"
    accept=".jpg,.png"
    *ngIf="usePicker"
    #filePicker
    (change)="onFileChosen($event)"
    />
  
    <ion-item lines="none" class="ion-padding">
      <ion-text style="font-weight: bold;">Add Image to the event:</ion-text>
      <ion-button slot="end" (click)="addImage()" fill="none">
        <ion-icon [color]="viewImage ? 'secondary' : ''" name="image" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  
  </ion-list>
</ion-content>

<ion-item lines="none" color="success" detail="true" button [disabled]="!formGroup.valid || !datesValidator()" (click)="addEvent()">
  <ion-icon name="add-circle-outline" slot="start"></ion-icon>
  <ion-text>Add Event</ion-text>
</ion-item>






